# Environment variables
.env

# Virtualenvs
venv/
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE/editor settings
.vscode/
.idea/



git fetch origin
git checkout -b lucas origin/lucas

